body {
  background-color: rgba(1, 200, 100, 0.5);
  color: red;
}
#login {
  margin-top: 10%;
  margin-left: 30%;
}
#login form {
  width: 100%;
  background-color: red;
  color: rgba(1, 200, 100, 0.5);
}
